/* h1{
text-align: center;
  font-weight: 700;
  font-size: 45px;
  color: coral;
  margin: 10px;
  margin-bottom: 25px;
 
} */

input{
  width: 100%;
  border-radius: 4px;
  padding: 5px;
  border-color: blueviolet;
}

.todocontainer{
  margin: 10px;
  border: 4px solid #872341;
  border-radius: 30px;
  background-color: #22092C;
}
