h1{

  font-weight: 700;
  font-size: 45px;
  color: coral;
  margin: 10px;
  margin-bottom: 25px;
 
}

input{
  width: 100%;
  border-radius: 8px;
  border-color: blueviolet;
}
.item-container {
text-align: left;
}
.kg-row{
margin: 25px;

}
.kg-button{
  min-width: 80px;
}